<ion-header>
  <ion-toolbar>
    <ion-title>hw</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div>
    <ion-card>
      <ion-img src="/assets/yoda.jpg"></ion-img>
      <ion-card-header>Skat Cat</ion-card-header>
      <ion-card-title>
        "You must unlearn what you have learned."
      </ion-card-title>
      <ion-card-content>
        <p>
          - Yoda
        </p>
      </ion-card-content>
    </ion-card>
  </div>
  <div>
    <ion-card>
      <ion-item>
        <ion-label position="floating">Rank</ion-label>
        <ion-input required type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Full Name</ion-label>
        <ion-input required type="text"></ion-input>
      </ion-item>
      <ion-button (click)="catPower()" expand="block" shape="round" color="primary">Awaken The Force</ion-button>
    </ion-card>
  </div>
</ion-content>
